@import './mixin'

fonts = Helvetica, arial, sans-serif
chiblue  = #EA4624
chigrey  = #bfc3c9
centerWidth= 820px 

body
  width: 100%
  height: 100%
  background-color: #f8f8f8 
  padding: 0px
  margin: 0px
  font-family: fonts
  character-spacing:1pt
  font-weight: light 

h1, h2 
  font-weight: bold

a
  color: chiblue
  text-decoration: none
  &:hover 
    color: black

#header
  width: 100%
  .headerTop
    background-color: chiblue
    height: 5px
    width: 100%

  .headerBottom
    width: 100%
    height: 10px
    background-color: black 

#poster 
  height: 650px
  text-align: center
  margin-top: 0px
  padding-left: 21%
  padding-right: 20%
  width: 60%
  color: white
  background-color: #EA4624
  padding-top: 100px


  #logo
    display: inline-block
    vertical-align: top

  #poster_content
    width: 540px
    padding: 40px 20px 0px 20px
    margin-left: 20px
    display: inline-block
    text-align: left
    vertical-align: top
    h1
      font-weight: 100
      margin-bottom: 52px
    #sections 
      height: 250px
      width: 100%
      .section
        h2
          font-size: 18px
          font-weight: bold
          margin: 0px
          padding: 0px 0px 5px
        p
          margin: 0px 0px 25px 0px
          padding: 0px
          font-size: 12px
          line-height: 17px
          font-weight: lighter
#navbar
  background-color: white
  height: 50px
  position: fixed
  z-index:100
  width:100%
  top:0px
  a
    color: black
    text-decoration: none
    &:hover 
      color: #EA4624
    
  #outer
    width:100%
    background-color: #f8f8f8
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.2)
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.2)
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2)

    #navcontent
      width: centerWidth
      margin-right: auto
      margin-left: auto
      height: 50px
      #shdchi
        float:left
        img 
          width : 150px
          margin-top: -1px
          cursor:pointer
        
      #navitems
        font-weight: bold
        float:right
        margin: 15px 0px 0px 0px
        padding: 0px
        font-size: 15px
        font-weight: 100
        li
          text-transform: lowercase
          display: inline
          .sep 
            margin-left:7px
            margin-right:7px
  .navFade
    opacity:0.5
    background-color: transparent
    background-image: url('images/cshd_fade3.png')
    background-position: 0px -23px
    background-repeat: repeat-x
    width:100%
    height: 30px
    z-index : -20
    position : relative

#lower 
  width: centerWidth
  margin-left: auto
  margin-right: auto
  border-bottom: 1px solid chigrey
  min-height: 900px
  background-color: #F8F8F8 
  position: relative 
  padding: 100px
  top: -80px
  #live 
    margin-top: -60px
  #left
    width: 260px
    display: inline-block
    vertical-align : top 
    margin: 0px
    padding: 0px
    margin-left:-40px
    #twitter 
      height: 400px
      width: 100%
      overflow-y: hidden
      margin-left:40px
    #photos 
      width: 100%
      height: 210px
      margin-top : 100px
      list-style: none
      li
        width: 77px
        height: 77px
        display:inline-block
        margin-right:9px
        margin-bottom: 9px
    
  #right
    width: 500px
    display: inline-block
    vertical-align : top
    margin-left:90px
    ul#articles
      list-style: none
      padding: 0px
      margin: 0px
      margin-left:80px
      li.article 

        width: 500px
        margin-top: 20px
        div.timeStamp
          color: white 
          background-color: chiblue
          width: 60px
          height: 60px
          border-bottom: 1px solid chigrey
          -moz-border-radius: 60px
          border-radius: 60px
          text-align: center
          line-height: 60px
          position: absolute
          font-size: 18px
          top: 0px
          left: 0px
        div.articleContent
          width: 420px
  
          border-bottom: 1px solid chigrey
          h2
            cursor: pointer
            font-size: 22pt
            color: chiblue
            margin-top: 0px
            margin-bottom: 0px
          p.subheading
            font-size: 13px
            margin-top:2px
          p.blurb
            color: #777
            font-size: 15px
        
          img
            cursor : pointer
#more
  cursor: pointer
  margin-right:0px
  margin-left: auto
  margin-top :10px
  float:right
  width: 120px
  height: 30px
  background-image: -moz-linear-gradient(center top, #F24723, #EA4624)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F24723), to(#EA4624))
  border: 1px solid #B53318
  font-size: 15px
  text-align: center
  line-height: 32px
  font-weight: bold
  text-transform: uppercase
  float: left
#sponsors 
  width: centerWidth
  margin-left: auto
  margin-right: auto
  margin-top: -50px
  .sponsor-section
    margin: 0px 
    padding: 0px
    width: centerWidth
    .sponsor
      display: inline-block 
      width: 260px
      height: 130px
      margin-right: 8px
      margin-bottom: 8px
      padding:0px
      background-color: #ebeaea
      color: black
      -moz-box-shadow: 0 1px 1px #999 inset, 0 1px 1px #fff;
      -webkit-box-shadow: 0 1px 1px #999 inset, 0 1px 1px #fff;
      box-shadow: 0 1px 1px #999 inset, 0 1px 1px #fff;
      text-align: center 
      line-height: 130px
      a
        padding:0px
        display:block
        margin:0px
        img
          margin:0px
          padding:0px
          opacity : 0.3
          vertical-align: middle

        img:hover
          opacity : 1 
    p
      width: 100%
      font-size: 15px
      color: #777
      margin-bottom:60px
      margin-top: 15px
      span 
        font-weight: bold
        color: black

#footer 
  height:200px
  width: 100%
  background-color: #EA4624
  color: white
  font-size : 10px
  text-align: center
  h3 
    font-size: 18px
    margin-top: 50px
  ul
    li
      text-align: left
      display:inline-block
      width : 200px
      height: 20px
      margin:0px
      padding:0px
      margin-right:40px
      ul 
        margin:0px
        padding:0px
        li 
          height:auto
  img 
    cursor: pointer
  a 
    color: white

.stack > *:not(.active) 
  display: none

#postTitle 
  margin-bottom :10px

#postContent 
  width : centerWidth
  margin-right  : auto
  margin-left   : auto
  margin-bottom : 100px
  #mainMedia
    width : 100%
    img 
      width : 100%
  h2
    color : chiblue
    padding-top : 20px
    padding-bottom : 20px
    border-top : 1px solid chigrey
    border-bottom : 1px solid chigrey
  #mainPost
    width : 100%
    text-align:top
  #postLeft 
    width : 200px
    min-height : 400px
    display: inline-block
    vertical-align:top
    img 
      margin-bottom : 15px
  #postMeta 
    text-align: right
    padding-bottom: 10px
    margin-bottom :15px 
    border-bottom : 1px solid chigrey
    h3 
      font-weight: 100
      margin:0px
      margin-top: 15px
      font-size: 30px
    p
      font-size: 11px
      margin-top : 0px
    
  #postRight
    width: 585px
    display: inline-block
    font-weight: 100
    font-size: 15px
    padding-left:20px
    vertical-align : top 
    margin-top: 4px

  
#hacks
  width: centerWidth
  margin-left: auto
  margin-right: auto
  margin-bottom : 40px
  border-top: 1px solid chigrey
  h2
    margin-bottom:0px
  p
    font-size: 15px
    color: #777
    margin-top : 0px
